@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;1,500&family=Special+Elite&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
  font-family: "Allura", cursive;
  font-weight: 600;
  color: #130057 !important;
}

.nav-item {
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 26px;
}

.nav-item a {
  color: #130057;
}

.w-logo {
  width: 150px;
}

.bg-orange {
    background-color: #FFF7F6;
    /* background: url('../images/collage-cover.png') ; */
}

.btn-darkorange {
    background-color: #FCB49B;
    color: #fff;
}

.btn-darkorange:hover {
    border-color: #FCB49B;
    color: #FCB49B;
}

/* Hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image, #hero-image-books, #hero-image-meetups, #hero-image-contact {
    height: 100%;
    width: 100%;
    background-color: #FEEEDF;
    
    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#hero-image {
    background: url('../images/collage-cover.png') no-repeat center center;
    background-size: cover;
}

/* Text over hero image */

#cover-text, #cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: auto;

    background-color: rgb(254,238,223, .7);
    bottom: 0px;

    position: absolute;
    justify-content: center;
}

#cover-text h2 {
    margin: 20px;
    align-self: center;
}

/* Cards */
.card {
    border: none;
}

.card-footer {
    background-color: #fff;
    border: none;

}